@import '@/styles/imports';

.section {
  position: relative;
  padding: 8.2rem 10rem;
  overflow-x: hidden;
  @include flex(space-between, center, nowrap);
  .text,
  .title {
    max-width: 58rem;

    h1 {
      @extend %title-40;
      margin-bottom: 2.4rem;
      font-family: $font-bold;
      text-align: left;
      color: $col-white;
    }
    p {
      @extend %text-18;
      text-align: left;
      color: $col-grey-30;
    }
  }

  @include screenMax('tablet') {
    padding: 8.2rem 0;
    .text {
      max-width: 42.7rem;
    }
    .title {
      max-width: 37.4rem;
    }
  }
  @include screenMax('mobile') {
    padding: 5rem 0;
    flex-wrap: wrap;
    .text,
    .title {
      max-width: 100%;
      h1 {
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
}

.container {
  flex-shrink: 0;
  .image {
    position: relative;
    width: 58rem;
    height: 58rem;
  }
  @include screenMax('tablet') {
    .image {
      width: 50rem;
      // height: 4rem;
    }
  }
  @include screenMax('mobile') {
    // flex-shrink: 1;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    .image {
      margin-top: 3.8rem;
      width: 100%;
      height: 58rem;
    }
  }
}
