@import '@/styles/imports';

.section {
  position: relative;
  padding: 8.2rem 10rem;
  // @include flex(flex-start, flex-start, column);
  .text,
  .title {
    max-width: 51rem;
    margin: 0 auto;
    h1 {
      @extend %title-40;
      margin-bottom: 2.4rem;
      font-family: $font-bold;
      text-align: center;
      color: $col-white;
    }
    p {
      @extend %text-18;
      text-align: center;
      color: $col-grey-30;
    }
  }

  .text {
    max-width: 76.3rem;
  }
  @include screenMax('tablet') {
    padding: 8.2rem 0;
    .text {
      max-width: 42.7rem;
    }
    .title {
      max-width: 37.4rem;
    }
  }
  @include screenMax('mobile') {
    padding: 5rem 0;
    flex-wrap: wrap;
    .text,
    .title {
      max-width: 100%;
      h1 {
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
}
.container {
  flex-shrink: 0;
  .row {
    @include flex(space-between, flex-start, nowrap);
    .icon {
      position: relative;
      width: 12rem;
      height: 12rem;
      &:not(:last-child) {
        margin-right: 2.5rem;
      }
    }
    &:last-child {
      margin-top: 4rem;
    }
    @include screenMax('tablet') {
      .icon {
        width: 4rem;
        height: 4rem;
        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }
      &:last-child {
        margin-top: 3rem;
        margin-left: 2rem;
      }
    }
  }
  @include screenMax('mobile') {
    flex-shrink: 1;
    .row {
      flex-wrap: wrap;
      justify-content: space-between;
      .icon {
        width: 7.2rem;
        height: 7.2rem;
        margin: 1rem 1.5rem;
      }
      &:last-child {
        margin-top: 0;
        margin-left: 0;
      }
    }
  }
}
